@charset "UTF-8";
body {
    font-family: 'Kanit', sans-serif !important;
}


/* wpadminbar */

#wpadminbar #wp-admin-bar-my-logo div.ab-empty-item {
    display: none;
}

li#wp-admin-bar-my-account {
    margin-top: 7px !important;
}

li#wp-admin-bar-wp-logo {
    width: 10%!important;
}

.my-toolbar-page {
    margin-top: 7px !important;
}

.my-toolbar-page>a {
    color: #000000!important;
    font-weight: 600;
    font-size: 14px;
}

#wpadminbar {
    width: calc(100% - 100px)!important;
    padding: 15px 50px;
    background: #ffffff;
    min-height: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3451)!important;
}

#wpbody {
    margin-top: 60px;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: transparent;
    color: #000000;
    font-family: 'Kanit', sans-serif !important;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
    color: #000000;
    font-family: 'Kanit', sans-serif !important;
}

#wpadminbar>#wp-toolbar>ul>li>a {
    /* font-weight: 600; */
    font-size: 14px;
}

#wpadminbar {
    width: calc(100% - 100px)!important;
    padding: 15px 50px;
    background: #ffffff;
    min-height: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3451)!important;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
    display: none;
}

li.my-toolbar-page {
    display: block !important;
    margin-left: 10px !important;
}


/* Profile: Popup on top|right */

#wpadminbar .menupop .ab-sub-wrapper {
    background-color: #ffffff;
}

#wpadminbar .quicklinks .menupop.hover ul li a {
    color: #000000!important;
}

#wpadminbar .quicklinks .menupop.hover ul li a:hover {
    color: #f3591f!important;
}

#wpadminbar #wp-admin-bar-user-info .avatar {
    display: none;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
    margin-left: 16px;
}


/* Profile: infomation user */

.user-profile-picture,
.user-sessions-wrap,
.application-passwords,
#contextual-help-link-wrap {
    display: none;
}


/* Profile: Saler */

.ds-wrap-profile {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.ds-header-title {
    position: relative;
    padding: 10px 10px 10px 20px;
}

.ds-header-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(180deg, #ffab00, #f3591f);
}

.ds-title-main {
    color: #f3591f;
}

.ds-wrap-profile input {
    height: 40px;
    border-radius: 6px;
}

.ds-wrap-profile #submit {
    background-color: #f3591f !important;
    color: #fff !important;
    border: 1px solid #f3591f !important;
}


/* button "Help" on top/right */

#screen-meta-links {
    margin: 10px 20px 0 0!important;
}