@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Sarabun);
@import url(https://fonts.googleapis.com/css2?family=Kanit);

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body {
    font-family: 'Kanit', sans-serif !important;
}

.pd-cat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 200px; */
    margin: auto;
    text-align: left;
    padding: 10px;
}

.pd-cat-price {
    color: grey;
    font-size: 22px;
}

.pd-cat-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.pd-cat-card button:hover {
    opacity: 0.7;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* pop up  success*/

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    margin-top: 50px !important;
}


/* Profile: Popup on top|right */

#wpadminbar .menupop .ab-sub-wrapper {
    background-color: #ffffff;
}

#wpadminbar .quicklinks .menupop.hover ul li a {
    color: #000000 !important;
}

#wpadminbar .quicklinks .menupop.hover ul li a:hover {
    color: #f3591f !important;
}

#wpadminbar #wp-admin-bar-user-info .avatar {
    display: none;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
    margin-left: 16px;
}

.ds-link-cat-page {
    color: #f3591f;
    margin-left: 5px;
    text-decoration: none;
}

.ds-link-cat-page:hover {
    color: #ffab00;
}

.ds-sale-cats {
    width: 190px;
    /* width: 16.6%; */
}

.ds-pure-flex {
    display: flex !important;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.display-name {
    font-family: 'Kanit', sans-serif !important;
}

li.my-toolbar-page {
    display: block !important;
    margin-left: 10px !important;
}


/* start edit style backend nong */

#wpadminbar #wp-admin-bar-my-logo div.ab-empty-item {
    display: none;
}

li#wp-admin-bar-my-account {
    margin-top: 7px !important;
    /* margin-top: 17px !important; */
}

li#wp-admin-bar-wp-logo {
    width: 10%;
}

.my-toolbar-page {
    margin-top: 7px !important;
    /* margin-top: 17px !important; */
}

.my-toolbar-page>a {
    /* margin-top: 7px !important; */
    /* color: #ffffff; */
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

#wpadminbar {
    width: calc(100% - 100px);
    padding: 15px 50px;
    background: #ffffff;
    min-height: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3451) !important;
}

#wpbody {
    margin-top: 60px;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: transparent;
    color: #000000;
    font-family: 'Kanit', sans-serif !important;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
    color: #000000;
    font-family: 'Kanit', sans-serif !important;
}

#wpadminbar>#wp-toolbar>ul>li>a {
    /* font-weight: 600; */
    font-size: 14px;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
    display: none;
}

.ds-cat-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ds-cat-wrap {
    /* min-width = 190*5 (product width * total show in row)  */
    min-width: 950px;
}

.ds-wrap-content {
    width: calc(100% - 20px) !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}


/* Start: Table and pagination style on dashboard page */

#dsp-order-list-dashboard thead {
    background-color: #dbdbdb;
}

#dsp-order-list-dashboard thead>tr>th,
#dsp-order-list-dashboard tbody>tr>td {
    border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
}

#dsp-order-list-dashboard thead>tr>th:last-child,
#dsp-order-list-dashboard tbody>tr>td:last-child {
    border-right: 1px solid #cccccc !important;
}

#dsp-order-list-dashboard tbody>tr:last-child {
    border-bottom: 1px solid #cccccc !important;
}

#dsp-order-list-dashboard thead>tr>th {
    color: #000000 !important;
}

#dsp-order-list-dashboard tbody>tr>td {
    height: 40px;
}

#dsp-order-list-dashboard thead>tr>th>a {
    color: #000000 !important;
}

#dsp-order-list-dashboard tbody>tr>td>a {
    color: #f3591f !important;
}

#dsp-order-list-dashboard tbody>tr>td:hover>a {
    color: red !important;
}

.ds-commis-s {
    padding: 3px 8px;
    background: #b9f2b2;
    border-radius: 6px;
    color: #08a614;
    text-align: center;
}

.ds-commis-e {
    padding: 3px 8px;
    background: #fed9d9;
    border-radius: 6px;
    color: #dc2222;
    text-align: center;
}

div#wpfooter {
    display: none;
}

form#dsp-order-dashboard {
    padding: 20px;
}

tfoot {
    display: none;
}

.wp-header-end {
    visibility: inherit;
    margin: -2px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.widefat {
    border: 0px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.prev-page,
.next-page {
    background-color: #f3591f !important;
    color: #fff !important;
    border: 1px solid #f3591f !important;
}

.last-page,
.first-page {
    color: #000000 !important;
    background-color: #f6f7f7 !important;
    border-color: #d4d4d4 !important;
}


/* End: Table and pagination style on dashboard page */

.pd-cat-card {
    border-radius: 0rem;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #fff;
    padding: 0px;
}

.pd-cat-card button {
    font-size: 10px !important;
}

.ds-block-image {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.ds-block-image>img {
    width: 100%;
    max-height: 180px;
    overflow: hidden;
}

.ds-block-description {
    /* padding: 10px; */
    padding: 10px 10px 0px 10px;
}

.ds-block-description>h3 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    margin-bottom: 3px;
    height: 36px;
}

.ds-block-description h3 a {
    color: #000000;
    text-decoration: none;
}

.ds-block-description h3 a:hover {
    color: #f3591f;
}

#dsp-order-list-dashboard {
    padding: 15px;
}

#dsp-order-list-dashboard .tablenav.top {
    margin-bottom: 15px;
}

.ds-next-page {
    margin: 10px;
}

.ds-price-cat {
    text-align: right;
    color: #fe3d06;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.ds-com-cat {
    text-align: right;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ds-catalog-left {
    width: calc(100% - (70% + 80px)) !important;
    padding: 10px !important;
    margin-right: 20px !important;
    border-radius: 10px !important;
    background-color: #fff;
}

.ds-catalog-left .ds-menu-cat>ul {
    font-size: 0.9rem;
}

.ds-catalog-right {
    width: 70% !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    background-color: #fff !important;
}

.ds-cat-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
}

.ds-cat-icon>img {
    width: 15px;
    margin: -5px 5px 0px 5px;
    margin-right: 5px;
    margin-top: -5px;
}

.ds-header-cat {
    position: relative;
    padding: 10px 10px 10px 20px;
}

.ds-header-cat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(180deg, #ffab00, #f3591f);
}

.ds-menu-sale-cat {
    color: #f3591f;
}

.ds-fillter-product {
    width: 100%;
    border: 1px solid #e1e1e1 !important;
}

.ds-product-by {
    width: 100%;
    border: 1px solid #e1e1e1 !important;
}

.ds-banner-button {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.ds-select-all-product {
    margin-left: 10px;
}

.ds-banner-table {
    /* width: 100%;
    padding: 20px;
    margin-top: -30px; */
}

.ds-banner-table table {
    width: 100%;
}

.ds-menu-cat {
    padding: 10px;
}

.ds-button-a {
    background-color: #f3591f !important;
    color: #fff !important;
    border: 1px solid #f3591f !important;
}

.ds-button-d {
    color: #ffffff !important;
    background-color: #ffab00 !important;
    border-color: #ffab00 !important;
}

.ds-button-c {
    color: #000000 !important;
    background-color: #f6f7f7 !important;
    border-color: #d4d4d4 !important;
}

.ds-h5 {
    font-size: 16px;
    float: left;
    margin: 1em 0;
}

input#dsp-catalog-url {
    width: 70%;
    /* margin: 1.67em 0; */
    background-color: transparent;
    border: 1px solid #8c8f94;
}

.ds-dasbord {
    background-color: transparent;
}

.ds-button-copy {
    width: 90% !important;
    padding: 0px 5px !important;
    font-size: 10px !important;
    background-color: #f0f0f1 !important;
    /* background-color: #ffab00!important; */
    color: #333333 !important;
    border: none !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ds-button-copy>img {
    width: 16px;
    height: auto;
}

.ds-input-link {
    width: 100%;
    font-size: 5px !important;
    border: none !important;
    min-height: fit-content !important;
    background-color: #ffffff !important;
    color: #ffffff !important;
}

.ds-input-link:focus {
    box-shadow: 0 0 0 0 #ffffff00 !important;
}

.postbox .inside h2,
.wrap [class$=icon32]+h2,
.wrap h1,
.wrap>h2:first-child {
    font-size: 23px;
    font-weight: 600;
    margin: 0;
    padding: 4px 0 4px 0;
    line-height: 1.3;
}


/* Start: Order-Detail-Page */

.webmode {
    display: block !important;
}

.mobilemode {
    display: none !important;
}

.ds-order-detail-info {
    background: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 20px;
}

.ds-order-detail-product {
    border-radius: 6px;
    padding: 10px;
    background: #ffffff;
}

#Order-Detail-product {
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#Order-Detail-Label2 {
    background-color: #ffffff;
    border-radius: 6px;
}

.block-emty {
    display: none;
}

.ds-order-title {
    color: #f3591f;
    /* #ffab00; */
}

#Order-Detail-title {
    color: #ffab00 !important;
    font-size: 16px;
}

.ds-order-block {
    padding: 0px 15px;
    height: calc(100% - 20px);
}

.ds-vertical-line-right {
    border-right: 1px solid #cccccc;
}


/* product table */

.ds-table-list-product {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0px;
}

.ds-table-list-product thead>tr {
    background-color: #dbdbdb;
}

.ds-table-list-product thead>tr>th {
    color: #333333;
    padding: 8px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.ds-table-list-product tbody>tr>td,
.ds-table-list-product tfoot>tr>td {
    text-align: center;
    padding: 8px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.ds-table-list-product tbody>tr>td:last-child,
.ds-table-list-product tfoot>tr>td:last-child {
    border-right: 1px solid #cccccc;
}


/* End: Order-Detail-Page */

.dsp-sidemenu {
    display: none;
}

.dsp-sidemenu-open {
    display: none;
}


/* === Responsive === */


/* 
* Extra small devices (portrait phones, less than 576px)
* ของเดิมที่ใช้ => @media (min-width: 320px) and (max-width: 480px) 
*/

@media (max-width: 575.98px) {
    #wpbody {
        margin-top: 0!important;
        padding-top: 80px;
    }
    #wpcontent {
        width: calc(100% - 20px);
        padding-right: 10px;
    }
    #wpadminbar {
        width: calc(100% - 30px);
        padding: 15px;
    }
    #wpadminbar .quicklinks {
        display: none!important;
    }
    /* Start: side menu on mobile */
    .dsp-sidemenu.hide-menu {
        width: 0%!important;
        transition: width 0.5s ease-in-out!important;
    }
    .dsp-sidemenu {
        display: block!important;
        width: 100%!important;
        height: 100%!important;
        position: fixed!important;
        background-color: rgba(0, 0, 0, 0.384);
        left: 0;
        top: 0;
        z-index: 10;
        overflow: hidden;
        transition: width 0.5s ease-in-out!important;
    }
    .dsp-sidemenu-body {
        position: relative!important;
        width: calc(100vw - 100px)!important;
        height: 100%!important;
        background-color: #ffffff;
    }
    .dsp-sidemenu-body ul>li {
        float: inherit!important;
        border-bottom: 1px solid;
        padding: 10px 10px 10px 15px!important;
        margin: 0px!important;
    }
    .dsp-sidemenu #wp-admin-bar-top-secondary {
        float: inherit!important;
    }
    .dsp-sidemenu #wp-admin-bar-top-secondary a {
        color: #000000!important;
    }
    .dsp-link-logout a {
        color: #000000;
    }
    .dsp-sidemenu-open {
        display: block;
        position: absolute!important;
        top: 20px;
        left: 15px;
        width: 35px!important;
        height: 35px!important;
    }
    .dsp-sidemenu-open img {
        width: 100%!important;
        height: 100%!important;
    }
    .dsp-sidemenu-close {
        position: absolute!important;
        top: 20px;
        right: 15px;
        width: 16px!important;
        height: 16px!important;
        z-index: 999999;
    }
    .dsp-sidemenu-close img {
        width: 100%!important;
        height: 100%!important;
    }
    /* End: side menu on mobile */
    #Order-Detail-product {
        margin-top: 10px !important;
    }
    .block-emty {
        display: block !important;
        width: 100px !important;
    }
    #Order-Detail-Label {
        padding-right: 20px !important;
    }
    .webmode {
        display: none !important;
    }
    .mobilemode {
        display: block !important;
    }
    .pd-cat-card {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        max-width: 100%;
        margin: 10px;
        text-align: left;
    }
    .ds-block-image {
        width: 100%;
        height: auto!important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .ds-block-image>img {
        max-height: inherit!important;
        overflow: hidden;
    }
    .ds-block-description>h3 {
        margin: 5px 0px!important;
        height: 48px!important;
        line-height: 24px!important;
        font-size: 18px!important;
    }
    .wrap {
        margin: auto;
    }
    .ds-sale-cats {
        width: 100%;
    }
    #Order-Detail-product {
        margin-top: 40px;
    }
    .dsp-input-style,
    .ds-box-select {
        margin-bottom: 10px;
    }
    .ds-cat-wrap {
        min-width: inherit;
    }
    .ds-price-cat {
        font-size: 1.2rem;
    }
    .ds-com-cat {
        font-size: 1rem;
    }
    .pd-cat-card button {
        font-size: 1rem!important;
        line-height: 1rem!important;
    }
    .ds-banner-table {
        overflow-x: scroll;
    }
    .ds-detail-title-m {
        color: #8c8f94;
    }
    .ds-detail-title-m,
    .ds-detail-desc-m {
        font-size: 1rem;
    }
    .ds-detail-img-m {
        overflow: hidden;
    }
    .ds-detail-img-m img {
        width: 100%;
    }
    .ds-detail-name-m {
        width: calc(100% - 20px);
        padding: 0px 10px;
    }
    .ds-detail-name-m p {
        font-size: 1rem;
        margin: 0px 0px 15px 0px;
    }
    .ds-detail-left-m p,
    .ds-detail-right-m p {
        margin: 0px;
    }
    .ds-detail-right-m p {
        text-align: right;
    }
    .ds-header-cat::before {
        height: 80%;
    }
}


/* 
* Medium devices (tablets, 768px and up)
* ของเดิมที่ใช้ => @media (min-width: 768px) and (max-width: 768.98px) 
*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .ds-sale-cats {
        width: 46%;
        margin: 7px;
    }
    .ds-block-image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .ds-block-image>img {
        /* max-height: 200px; */
        max-height: max-content;
        overflow: hidden;
    }
    .ds-catalog {
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ds-input-link {
        font-size: 14px !important;
    }
    .ds-button-copy {
        font-size: 14px !important;
    }
    div#product-catalog-block {
        width: 60% !important;
    }
    .ds-sale-cats {
        padding: 0px 5px;
        width: calc(25% - 10px)!important;
        /* 25% => 4 items:rows */
    }
}


/* medium devices (tablets, less than 992px)  */

@media (max-width: 991.98px) {
    #wpbody {
        margin-top: 30px;
    }
    .ds-catalog-left,
    .ds-catalog-right {
        width: calc(100% - 20px)!important;
        margin: 15px 0px!important;
    }
    .ds-catalog-right {
        padding: 10px!important;
    }
    .ds-vertical-line-right {
        border-right: none;
    }
}


/* 
* @media (min-width: 769px) and (max-width: 1024px) 
*/

@media (min-width: 768px) and (max-width: 991.98px) {
    li#wp-admin-bar-wp-logo {
        width: 160px;
    }
    .my-toolbar-page {
        margin-top: 0px !important;
    }
    li#wp-admin-bar-my-account {
        margin-top: 0px !important;
    }
    /* div#product-catalog-block {
        width: 70% !important;
    }*/
    .ds-sale-cats {
        padding: 0px 5px;
        width: calc(25% - 10px)!important;
        /* 25% => 4 items:rows */
    }
    .ds-block-image>img {
        max-height: 200px;
    }
    .ds-block-image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .pd-cat-card {
        margin: 7px 0px!important;
    }
}


/* large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .ds-cat-wrap {
        min-width: inherit!important;
    }
    .ds-block-image {
        height: 160px;
    }
    .ds-block-description>h3 {
        margin: 3px 0px;
        height: 36px;
        font-size: 14px;
    }
    .ds-price-cat {
        margin: 5px 0px;
    }
}


/* 
* Large devices (desktops, 992px and up)
*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/*
* Extra large devices (large desktops, 1200px and up)
*/

@media (min-width: 1200px) {
    .pd-cat-card {
        border-radius: 0rem;
        margin-top: 7px;
        margin-bottom: 7px;
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        padding: 0px;
    }
    .ds-block-description>h3 {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        margin-bottom: 3px;
        height: 35px;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .ds-price-cat {
        text-align: right;
        color: #fe3d06;
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 500;
        margin: 8px 0px;
    }
    p {
        font-size: 12px;
        line-height: 1.5;
        margin: 1em 0;
    }
    button.add-product-to-catalog.button.button-secondary.in-catalog.ds-button-a,
    button.add-product-to-catalog.button.button-secondary.in-catalog.ds-button-d {
        color: #ffffff !important;
        background-color: #ffab00 !important;
        border-color: #ffab00 !important;
    }
    button.add-product-to-catalog.button.button-primary.ds-button-a,
    button.add-product-to-catalog.button.button-primary.ds-button-d {
        color: #ffffff !important;
        background-color: #f3591f !important;
        border-color: #f3591f !important;
    }
    .ds-button-copy {
        padding: 0px 2px !important;
    }
}