/* Custom Login Page */

#login {
    width: 450px;
}

.login form {
    padding: 50px 70px;
    border-radius: 15px;
    border: 0;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 15%);
}

.login form input[type=text],
.login form input[type=password] {
    border-radius: 6px;
    border-color: #cccccc;
}

.login form #wp-submit {
    width: 100%;
    border-radius: 6px;
    background-color: #f3591f !important;
    color: #fff !important;
    border: 1px solid #f3591f !important;
    margin-top: 10px;
}

.forgetmenot {
    width: 100%;
}


/* Close select language and button back to page */

#backtoblog,
.language-switcher {
    display: none;
}

.dsp-logo-login {
    width: auto;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}